<%- include('../partials/header') %>

<div class='container'>
        <% menu.forEach((item) => { %>
            <h3><%= item.Name %></h3>
        <% }); %>
    </div>

<%- include('../partials/footer') %>   